# for production the name changes to 
PORT=
MONGO_URI=mongodb://127.0.0.1:27017/smartHire || mongodburl
JWT_ACCESS_SECRET=ujjawalGREAT
JWT_REFRESH_SECRET=ujjawalGREAT
FRONTEND_URL=
NODE_ENV=production  || development
ADMIN_NAME=admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=email
EMAIL_USER=your_email@gmail.com
CLOUDINARY_URL=cloudinary url 
RESEND_API_KEY= resend api key